extends layout

block content
  .row
    .col-xs-12
      #profiles
        .profile-tabs
          button.btn.btn-primary.pull-right.add-profile
            i.fa.fa-plus-circle
            | &nbsp; 
            | PROFILE
          ul.nav.nav-tabs.profile-list(role='tablist')

          .profile-tab-content.tab-content

block scripts
  script.
    ParticleFire.initControlPanel();
