extends layout

block content
  .row
    .col-xs-12
      legend DEVICES
      table.table.table-striped
        tbody
          if(devices)
            each device in devices
              tr
                td
                  = device.external_id
        tfoot
          tr
            td
              br
              form(method='post', action="/account/#{user._id}/devices" )
                .form-group
                  input#add-device.form-control(type='text', placeholder='Device ID', name='external_id')
                button.btn.btn-primary(type='submit') ADD DEVICE

  .row
    .col-xs-12
      form
        legend ACCOUNT SETTINGS
        .form-group
          label(for='exampleInputEmail1') Email address
          input#exampleInputEmail1.form-control(type='email', placeholder='Email')
        .form-group
          label(for='exampleInputPassword1') Password
          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
        button.btn.btn-default(type='submit') Submit

block script
  script.
    ParticleFire.init();
